
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton|Roboto');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color:#000;
  color: #fff;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}


.wrapper{
    height: 100%;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
    z-index: 99;
    position: fixed;
    z-index: -1;
}

.text{
    color: white;
    font-family: 'Alegreya', serif;;
    font-size: 2.5em;
}
.wrapper-image{
    width: 400px;
    height: 400px;
    border: transparent;
    justify-content: space-around;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}
.media{
  flex-wrap: wrap;
  text-align: center;
}
.intro{
  margin-top: 120px;
}

  
  .text-name{
    color:  #ccff33;
  }

  .word{
    font-family: 'Anton', sans-serif;
	  perspective: 1000px; 
  }

  .word span {
    cursor: pointer;
    display: inline-block;
    font-size: 60px;
    user-select: none;
    line-height: .8;
    position: relative;
    animation: mymove 5s infinite;
  }

  @keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
  }

  