@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

*, *:before, *:after {
    box-sizing: border-box;
  }

  .w-100{

    height: 540px;
  }
  span {
    margin-right: 10px;
    margin-left: 15px;
    font-size: 20px;
    letter-spacing: normal;
    display: inline-block;
}
a{
  color:black;
}
a:hover {
  color: white;
}
.link{
  color: grey;
}

.carousel-control-prev-icon {
  background-image:grey;
}
.carousel-control-next-icon {
  background-image:grey;
}